/node_modules
.list.txt
/lab
/src/modules/*/"^.git"
/.list.txt
/.methods.txt
/.query.txt 
/.schema.txt
/index.sh 
/install.sh 
/install_deps.sh 
/data.json 
/.DS_Store
/lab 
/dependencies


/node_modules
/src/modules/app/"^.git" 
/src/modules/base/"^.git" 
/src/modules/cli/"^.git" 
/src/modules/cli-command/"^.git" 
/src/modules/controller/"^.git" 
/src/modules/app/"^.git" 
/src/modules/couleurs/"^.git" 
/src/modules/db-callback/"^.git" 
/src/modules/db-migrate/"^.git" 
/src/modules/db-promise/"^.git" 
/src/modules/db-query/"^.git" 
/src/modules/db-query-validator/"^.git" 
/src/modules/db-schema/"^.git" 
/src/modules/error/"^.git" 
/src/modules/http-controller/"^.git" 
/src/modules/http-route/"^.git" 
/src/modules/http-route-maker/"^.git" 
/src/modules/lib/"^.git" 
/src/modules/man/"^.git" 
/src/modules/method/"^.git" 
/src/modules/schema/"^.git" 
/src/modules/sample/"^.git" 
/src/modules/socket/"^.git" 
/src/modules/template/"^.git" 